@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-7">
            <ul class="list-unstyled">
                <li>
                    <div class="d-flex flex-md-row flex-column">
                        <div>
                            <h1 class="display-4"><strong>張惠銨</strong></h1>
                        </div>
                        <div class="d-flex align-items-end">
                            <h2 class="text-muted px-md-2">Ann Chang</h2>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-flex flex-md-row flex-column" style="border-bottom:2px solid #2F4F4F;">
                        <div><strong class="h6">國立中央大學  大氣科學系</strong></div>
                        <div class="px-md-2 text-muted">2010-2014</div>
                    </div>
                </li>
                <li>
                    <div style="border-top:5px solid #FFFFFF;">
                        <i class="fa-brands fa-linkedin"></i>
                        <a class="text-truncate margin-left-md"
                            href="https://www.linkedin.com/in/annchang-cjo40">annchang.linkedin</a>
                    </div>
                </li>
                <li>
                    <div>
                        <i class="fa-brands fa-github"></i>
                        <a class="text-truncate margin-left-md"
                            href="https://github.com/annchangann">annchangann.github</a>
                    </div>
                </li>
                <li>
                    <div>
                        <i class="fa-regular fa-envelope"></i>
                        <span class="text-truncate margin-left-md"><a
                                href="mailto:fatan19928@gmail.com">fatan19928.gmail</a></span>
                    </div>
                </li>
                <li>
                    <div>
                        <i class="fa-solid fa-phone"></i>
                        <span class="text-truncate margin-left-md">(+886) 972-356-599</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-4 col-5">
            <img class="img-thumbnail rounded float-right" alt="Responsive image" width="200" src="https://lh3.googleusercontent.com/dFk9qMW0Tlk9sIL_lzGPX0veHoZBNQBoPNj-Cp6x7EnpRZcy7vhYQnBvT1j_h1GpKQAGKmG8755WXEXr00q7o99bLJpbzTLO5AnrOhKTmmaijr800lcbUVZR8SCCcBmdANZPoL36PXplsBv505hzW5v61IlGT7Im3I7t7TG5YK88565YIE-h9ndEZoqQqRFrRE8oY8sSO8JQJyiTBkcvlM0Er09odI9TnuSpdtiBBNS6P1E-HTdFqd9bgtyoKTCdsesiStBvKERb8IkyUw4oX31RFhUj7S3GtcmjxWR8_zDvpviC0fTCEDsm4KrrW2Iv4dI83l-o0sia7YdxB4uQ8h1X_J2xuuA91MSlsKbuzCEeuZDyvFXGQgBx62LcypL_DrKV0xRxN3lUSM8gcsfLKpwXFCpMxMwMQLv7MV8lvAvaRSSXKlOQC5MO8UKcNtlnMq0wFdd3Fah4rMJsZRjxt32QBTLMD9Fk4jwo7oVIZ-t1HbU_cMMhrqsyU-gxVQlUQY8vvqqnyYXAKlGDy8ygFi8SHSHRjfLgtNWXK2rSq6xd2Uu6jj4n5WJ9SyadhTaB6VZyk_orucw_QlqTU9TdvYgEf_KJ1C9wpFC8qDXt7x_U4wypx8HaEQy3CCZTw69K_BV9xA3Y7BW6InXUBSTlzaX7-bHbZUE8KeIhml4U-xrAiUfMArSj6wovD_IH8phic63cr4ad4TrTboxbwnlYbIal1FkkiS44ee_45uj1jNhAZOYjIeaIEMtHmtjIrhnjrGe2P5NH9v6gbHqtRBZbTLqFb1ujqDMsyKZObrNvjb9z_50NHBDrCanVcOousrKz3GHYXnLYZI5gPZQEL05a9sRPkYxpb5gACPDLDYDPyEnBFLHbMb2HMxQeb-PyogBDaLYCqXTm4z8i5smnZZah1-OZ8S7sb7kN6CiuDlA6=w479-h481-no?authuser=0">
        </div>
    </div>
</div>
